<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping cart</title>
</head>
<body>
    <h1>Shopping cart</h1>

    <h3>Node.js and Express book</h3>
    <p>Price: $50.00</p>
    <p>Quantity: 1</p>
    <br>
    <h3>Javascript T-Shirt</h3>
    <p>Price: $20.00</p>
    <p>Quantity: 2</p>


    <form action="/checkout" method="post">
        <input type="submit" value="proceed to checkout">
    </form>
</body>
</html>